:root {
    --all-text: #ffffff;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9dcd6;
}
.header {
    padding: 20px;
    background-color: #4FD8D9;
    color: var(--all-text);
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.Pic-of-me {
    display: block;
    max-width: 25%;
    height: auto;
}
.header div ul {
    list-style-type: none;
}
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: var(--all-text);
    text-decoration: none;
}

p {
    font-size: 20px;
    padding-left: 1%;
}
.sections {
    margin: 50px auto;
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sections h3 {
    color: var(--all-text);
    font-size: 25px;
    flex: 1 5%;
    padding-right: 3%;
}

.texts {
    flex: 20;
    border-left: 5px solid rgb(42, 167, 160);
    text-align: left;
    padding-left: 1%;
    }

.contact-info{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    font-size: 15px;
     width: 100%;
    }

.contact-info a {
    text-decoration: none;
    margin: 0 50px;
    color: var(--all-text);
    font-weight: bold;
    
}

.contact-info ul li {
    color: var(--all-text);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 0 50px;
    
}
@media screen and (max-widht: 980px) {
    header {
        justify-content: center;
        position: relative;
       
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 10px;
    }
}


@media screen and (max-widht: 768px) {
    .sections h3 {
        flex: 1 100%;
        text-align: center;
    }
}

@media screen and (max-widht: 500px){
    .sections h3 {
        flex: 1 100%;
        text-align: center;
    }
    
}

